<% include ./includes/header %>

<div class="ui main text container segment">
    <div class="ui huge header">
        login to create and view blogs
    </div>

</div>

<% include ./includes/footer %>