<% include ./includes/header %>

    <div class="ui main text container segment">
        <div class="ui huge header">New Blog</div>
        <form class="ui form" action="/blogs" method="POST">
            <div class="field">
                <label>Title</label>
                <input type="text" name="blog[title]" placeholder="title" required>
            </div>
            <div class="field">
                <label>Write here</label>
                <textarea name="blog[body]" required></textarea>
            </div>
            <input type="hidden" name = "blog[createdBy]" value=<%= user %>>

            <input class="ui violet big basic button" type="submit">
        </form>
    </div>

<% include ./includes/footer %>